html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mt-20 {
  margin-top: 20px;
}

.mt-60 {
  margin-top: 60px;
}

.full-width {
  width: 100%;
}

.ml-5 {
  margin-left: 5px;
}

.snackError .mat-mdc-snackbar-surface {
  background: #d32f2f !important;
  color: #fff !important;
  border-radius: 30px !important;
  margin-top: 50px;
}
.snackError .mat-mdc-button,
.snackError .mat-mdc-snack-bar-action {
  color: #fff !important;
}

.snackInfo .mat-mdc-snackbar-surface {
  background: green !important;
  color: #fff !important;
  border-radius: 30px !important;
  margin-top: 50px;
}
.snackInfo .mat-mdc-button,
.snackInfo .mat-mdc-snack-bar-action {
  color: #fff !important;
}
